.Scontainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills {
    h2 {
        font-weight: var(--weight-small);
        letter-spacing: 1px;
        margin-top: 40px;
        margin-bottom: 5px;
        color: var(--text-color);
        font-size: 16px;
    }
}

.progressBar {
    background: var(--container-color);
    width: 600px;
    height: 10px;
    border-radius: 5px;

    div {
        height: 10px;
        border-radius: 5px;
        width: 0%;

        //making a circle
        span {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background: var(--bg-secondary);
            float: right;
            margin-top: -15px;
            margin-right: -20px;
            color: var(--text-color-two);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .html {
        background: #BEADFA;
        animation: html 1s linear forwards;

        span {
            border: 1px solid #BEADFA;
        }
    }

    .css {
        background: #00ADB5;
        animation: css 1s linear forwards;

        span {
            border: 1px solid #00ADB5;
        }
    }

    .js {
        background: #F9ED69;
        animation: js 1s linear forwards;

        span {
            border: 1px solid #F9ED69;
        }
    }

    .react {
        background: #AAC4FF;
        animation: react 1s linear forwards;

        span {
            border: 1px solid #AAC4FF;
        }
    }

    .node {
        background: #B83B5E;
        animation: node 1s linear forwards;

        span {
            border: 1px solid #B83B5E;
        }
    }

    .mongo {
        background: #3F72AF;
        animation: mongo 1s linear forwards;

        span {
            border: 1px solid #3F72AF;
        }
    }

    .git {
        background: #95E1D3;
        animation: git 1s linear forwards;

        span {
            border: 1px solid #95E1D3;
        }
    }

    .c {
        background: #FCBAD3;
        animation: c 1s linear forwards;

        span {
            border: 1px solid #FCBAD3;
        }
    }
}

@keyframes html {
    100% {
        width: 86%;
    }
}

@keyframes css {
    100% {
        width: 74%;
    }
}

@keyframes js {
    100% {
        width: 70%;
    }
}

@keyframes react {
    100% {
        width: 71%;
    }
}

@keyframes node {
    100% {
        width: 69%;
    }
}

@keyframes git {
    100% {
        width: 63%;
    }
}

@keyframes c {
    100% {
        width: 89%;
    }
}

@media screen and (max-width: 600px) {
    .Scontainer{
        display: block;
        width: 100%;
        padding: 10px 30px;
    }
    .progressBar{
        width: 100%;
        height: 8px;
    }
}