#projects {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 300px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: block;
        transition: transform 0.5s;
    }

    &:hover img {
        transform: scale(1.1);
    }

    &:hover .layer{
        height: 100%;
    }
}

.layer {
    width: 100%;
    height: 0;
    color: white;
    background: linear-gradient(rgba(239, 220, 220, 0.7), #3300ff);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;

    transition: height 0.5s;

    >h3 {
        font-weight: var(--weight-bold);
        margin-bottom: 30px;
        // color: var(--text-color);
        color: black;
    }

    >p {
        font-weight: var(--weight-small);
        // color: var(--text-color-two);
        color: white;

    }

    >a {
        margin-top: 20px;
        color: #3300ff;
        text-decoration: none;
        font-size: 18px;
        line-height: 60px;
        background: white;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        text-align: center;
    }
}

.Pcontainer{ 
    >a{
        margin: 0 45%;
        margin-top: 10px;
        align-items: center;
        background: transparent;
        border:1px solid #3300ff;
        border-radius: 0;
        // background: #3300ff;
        transition: background 0.5s;
    }
    &:hover >a{
        background: var(--primary-color);
        color: white;
    }
}